.title {
    color: #586994;
    font-size: 50px;
}

.buttons {
    padding-top: 1%;

}

body {
    background-color: #D1D5DE;
}

#out{
    float: right;
    border: .2em black;
    cursor: pointer;
}

#loginL{
    display: inline;
}

#loginR{
    display: inline;
}

.panel-heading h1{
    font-size: 3em;
    color: #586994;
}

.panel-title{
    border: .1em solid black;
    padding: .2em;
    cursor: pointer;
    background-color: #D1D5DE;
}


#registerElements{
    display: none;
}

.seat{
    padding: 1em;

    text-align: center;
    vertical-align: middle;
    height: 7em;
    width: 7em;
    display: inline-block;

}

.filledseat{

    background-color: #A9E2F3;
    border: solid black .15em;

}