{%extends "template.html"%}

{%block title%} Attendance {%endblock%}

{%block body%}

{%if teacher %}
<div class="container">
  <div class="page-header">
    <h1> Absences </h1>
  </div>
  <div class="col-lg-10 col-offset-lg-1">
    <ul class="list-group">
      {%for key in classeslist%}
      <li class="list-group-item" data-toggle="collapse" data-target="#class{{key}}"> {{classeslist[key]}}</li>
      {% endfor%}
    </ul>
    {%for dictkey in absencelist%}
    <div id="class{{dictkey}}" class="page-header collapse">
      {{classeslist[dictkey]}}

      <table class="table table-hover">
	<tr>
	  <th> Period </th>
	  <th> Student </th>
	</tr>
	{%for studentid in absencelist[dictkey]%}
	<tr>
	  <td>{{absencelist[dictkey][studentid]}}</td>
	  <td>{{studentslist[studentid]}}</td>
	</tr>
	{%endfor%}
      </table>  
    </div>
    {%endfor%}
  </div>
</div>

{%else%}
<div class="container">
  <div class="page-header">
    <h1>Absences</h1>
  </div>
  <div class="col-lg-10 col-offset-lg-1">
    <table class="table table-hover">
      <tr>
	<th>Class</th>
	<th>Date </th>
      </tr>
      {%for class in absencelist%}
      <tr>
	<td> {{class}}</td>
	<td> {{absencelist[class]}}</td>
      </tr>
      {%endfor%}
    </table>
  </div>
</div>

{%endif%}
{%endblock%}
