{%extends "template.html"%}

{%block title%} Grades {%endblock%}

{%block body%}

{%if teacher %}
<div class="container">
  <div class="page-header">
    <h1>Assignments</h1>
  </div>
  <div class="col-lg-10 col-offset-lg-1">
    <ul class="list-group">
      {%for key in classeslist%}
      <li class="list-group-item" data-toggle="collapse" data-target="#class{{key}}">{{classeslist[key]}}</li>
      {% endfor %}
    </ul>
    {%for dictkey in gradeslist%}
    <div id="class{{dictkey}}" class="page-header collapse">
      {{classeslist[dictkey]}} <!-- classid-->

      <table class="table table-hover">
	<tr>
	  <th>Student</th>
	  <th>Grade</th>
	  <th>Change Grade</th>
	</tr>
	{%for studentid in gradeslist[dictkey]%} <!-- key = sid, value = grade -->
	<tr>
	  <td>{{studentslist[studentid]}}</td>
	  <td>{{gradeslist[dictkey][studentid]}}</td>
	  <form action="/addgrade/" method="POST">
	    <td>
	      <input type="number" name="grade">
	      <input type="hidden" name="studentid" value="{{studentid}}">
	      <input type="hidden" name="classid" value="{{dictkey}}">
	    </td>
	    <td><button type="submit" class="btn btn-default">Change</button></td>
	  </form>
	</tr>
	{%endfor%}
      </table>
    </div>
    {%endfor%}

  </div>
</div>
{%else%}

<div class="container">
  <div class="page-header">
    <h1> Grades for Student</h1>
    <table class="table table-hover">
      <tr>
	<th> Class </th>
	<th> Grade </th>
      </tr>
      {%for class in gradeslist%}
      <tr>
	<td> {{class}}</td>
	<td> {{gradeslist[class]}} </td>
      </tr>
      {%endfor%}
    </table>
  </div>
</div>

{%endif%}
{%endblock%}

