{%extends "template.html"%}

{%block title%} Homepage {%endblock%}

{%block body%}

<br>
<br>
<br>
<center><h2 id='joinMsg'></h2></center>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-default">
	<div class="panel-heading">
          <h2><center> Grades <center></h2>
	</div>
	<div class="panel-body">
	  <a type="button" class="btn btn-default btn-lg btn-block" href="/grade">Check grades</a>
	</div>
      </div>
    </div>

    {%if teach%}

    <div class="col-lg-3">
      <div class="panel panel-default">
	<div class="panel-heading">
          <h2><center> Seating </center></h2>
	</div>
	<div class="panel-body">
          {{classes | safe}} 
	</div>
      </div>
    </div>

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h2><center> Create New Class </center></h2>
      </div>
      <div class="panel-body">
	<a type="button" class="btn btn-default btn-lg btn-block" href="/createClass">Create new class</a>
      </div>
    </div>
  </div>

  {%else%}

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
	<h2><center> Join New Class </center></h2>
      </div>
      <div class="panel-body">

	<form>
          <!--need to add in student info (glasses, etc.)-->
          <center><input type="text" id="secretKey" size="10" maxlength="6"placeholder="Class Code"></center>
	  <br>
          <center><button id="searchClass" type="button">Join</button></center>

        </form>

      </div>
    </div>
  </div>
  


  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><center> Classes</center></h2>
      </div>
      <div class="panel-body">
	<center>{{classList | safe}}</center>
      </div>
    </div>
  </div>

  {%endif%}

  <div class="col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2><center> Attendance </center></h2>
      </div>
      <div class="panel-body">
        <a type="button" class="btn btn-default btn-lg btn-block" href="/absence">Attendance</a>
      </div>
    </div>
  </div>
</div>


<script src="../static/javascript/home.js"></script>

{%endblock%}
