{%extends "template.html"%}


{%block title%} {{className}} {%endblock%}

{%block body%}

<style>

.seat{
    padding: 1em;

    text-align: center;
    vertical-align: middle;
    height: 7em;
    width: 7em;
    display: inline-block;

}

.filledseat{

    background-color: #A9E2F3;
    border: solid black .15em;

}

</style>

<p hidden id='cid'>{{cid}}</p>

{{ key }}

{{ seats | safe }}

<center><button id="butt"><i class="fa fa-pencil"></i>Edit</button></center>

<script src="../static/javascript/seats.js"></script>

{%endblock%}

</body>

</html>
