{%extends "template.html"%}


{%block title%} Seating {%endblock%}

{%block body%}

<style>

.seat{
    background-color: #A9E2F3;
    border: solid black .15em;
    padding: 1em;

    text-align: center;
    vertical-align: middle;
    height: 7em;
    width: 7em;
    display: inline-block;

}

.openseat{

    /*border: solid black .15em;*/
    padding: 1em;

    height: 7em;
    width: 7em;

    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    display: inline-block;

}

</style>

<p hidden id='cid'>{{cid}}</p>

{{ seats | safe }}

<center><button id="butt">Edit</button>

<script src="../static/javascript/seats.js"></script>

{%endblock%}

</body>

</html>
