{%extends "template.html"%}


{%block title%} Seating {%endblock%}

{%block body%}

<script>

var s = document.getElementsByClassName("seat");
var oldEvent;

function allowDrop(event) {
    event.preventDefault();
}

function dragStart(event) {
    oldEvent = event.target;
    event.dataTransfer.setData("student", event.target.innerHTML);
}

function drop(event){
    event.preventDefault();
    var data = event.dataTransfer.getData("student");
    var data2 = event.target.innerHTML;
    if (data2 && data){
        if (!(data === 'undefined' || data2 === 'undefined')){
            event.target.innerHTML = data;
            oldEvent.innerHTML = data2;
        }
    }
}

</script>


<style>

.seat{
    background-color: #A9E2F3;
    border: solid black .15em;
    padding: 1em;

    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    display: inline-block;

    cursor: move;

}

</style>

{{ seats | safe }}

{%endblock%}

</body>

</html>
